<robot name="dynaarm" xmlns:xacro="http://www.ros.org/wiki/xacro">
     
  <xacro:arg name="tf_prefix" default="" />
  <!-- 4dof, 6dof -->
  <xacro:arg name="dof" default="6dof" />
  <!-- real, mock, sim -->
  <xacro:arg name="mode" default="mock" />
  <!-- physical ethercat bus, only used for real -->
  <xacro:arg name="ethercat_bus" default="eth0" />  
  <!-- Change to add covers to the arm -->
  <xacro:arg name="covers" default="false" />
  <!-- v1, v2, ... -->
  <xacro:arg name="version" default="v2" />
  
  <xacro:property name="version" value="$(arg version)" />
  <xacro:property name="dof" value="$(arg dof)" />
  <xacro:property name="mode" value="$(arg mode)" />
  <xacro:property name="ethercat_bus" value="$(arg ethercat_bus)" />
  <xacro:property name="covers" value="$(arg covers)" />
  
  <xacro:include filename="$(find dynaarm_description)/xacro/${version}/dynaarm_macro_${dof}.urdf.xacro" />

  <link name="world" />

  <!-- create dynaarm and fix its base, move it up such that is doesn't intersect with the ground -->
  <xacro:dynaarm parent_link="world" 
                  joint_origin_xyz="0 0 0.085"
                  joint_origin_rpy="0 0 0"  
                  tf_prefix="$(arg tf_prefix)" />

</robot>