<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="dynaarm" params="parent prefix *origin">

		<xacro:include filename="$(find duatic_description)/urdf/dynaarm_parameters.urdf.xacro"/>

		<!-- World - Base -->
		<joint name="${prefix}${joint_base_name}" type="${joint_base_type}">
			<xacro:insert_block name="origin" />
			<parent link="${parent}"/>
			<child link="${prefix}${base}"/>
		</joint>

		<!-- Base -->
		<link name="${prefix}${base}">
			<inertial>                
				<mass value="${base_mass}" />				
				<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
			</inertial>
			<visual>				
				<geometry>
					<mesh filename="file://$(find duatic_description)/meshes/100_base_mesh.dae" />
				</geometry>
				<material name="carbon_fiber">
					<color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find duatic_description)/meshes/100_base_mesh_col.dae" />
				</geometry>
			</collision>
		</link>

		<!-- Shoulder flex -->
		<link name="${prefix}${link01}">
			<inertial>
				<mass value="${link01_mass}" />
				<origin xyz="0.0 0.0 ${-1.7336*mm_to_m}" rpy="0 0 0" />
				<inertia ixx="${10301.21*mm2_to_m2}" iyy="${3016.50*mm2_to_m2}" izz="${10099.04*mm2_to_m2}" ixy="${-50.85*mm2_to_m2}" ixz="${0.0*mm2_to_m2}" iyz="${0.0*mm2_to_m2}" />
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find duatic_description)/meshes/101_shoulder_mesh.dae"/>
				</geometry>
				<material name="carbon_fiber">
					<color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find duatic_description)/meshes/101_shoulder_mesh_col.dae"/>
				</geometry>
			</collision>
		</link>

		<!-- Shoulder Extension -->
		<link name="${prefix}${link02}">
			<inertial>
				<mass value="${link02_mass}" />
				<origin xyz="${211.09*mm_to_m} ${0.022*mm_to_m} ${-0.317*mm_to_m}" rpy="0 0 0" />
				<inertia ixx="${1161.79*mm2_to_m2}" iyy="${46092.126*mm2_to_m2}" izz="${46279.53*mm2_to_m2}" ixy="${-0.72*mm2_to_m2}" ixz="${-140.45*mm2_to_m2}" iyz="${0.007*mm2_to_m2}" />
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find duatic_description)/meshes/102_upperarm_mesh.dae"/>
				</geometry>
				<material name="carbon_fiber">
					<color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find duatic_description)/meshes/102_upperarm_mesh_col.dae"/>
				</geometry>
			</collision>
		</link>

		<!-- Elbow flex -->
		<link name="${prefix}${link03}">
			<inertial>
				<mass value="${link03_mass}" />
				<origin xyz="${6.8*mm_to_m} ${-84.8*mm_to_m} ${-0.6*mm_to_m}" rpy="0 0 0" />
				<inertia ixx="${1384.3*mm2_to_m2}" iyy="${716.8*mm2_to_m2}" izz="${1130.1*mm2_to_m2}" ixy="${-41.6*mm2_to_m2}" ixz="${8.5*mm2_to_m2}" iyz="${-10.5*mm2_to_m2}" />
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find duatic_description)/meshes/103_elbow_mesh.dae"/>
				</geometry>
				<material name="carbon_fiber">
					<color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find duatic_description)/meshes/103_elbow_mesh_col.dae"/>
				</geometry>
			</collision>
		</link>

		<link name="${prefix}tool0">
			<inertial>
				<mass value="1"/>
				<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
			</inertial>
		</link>

		<!-- SH_ROT -->
		<joint name="${prefix}${joint_1_name}" type="${joint_1_type}">
			<origin xyz="${joint_1_origin_xyz}" rpy="${joint_1_origin_rpy}" />
			<parent link="${prefix}${base}"/>
			<child link="${prefix}${link01}"/>
			<axis xyz="${joint_1_axis_xyz}" />
			<limit effort="${baboon_peak_torque}" 
						 command_effort="${baboon_peak_torque}" 
						 current="10" 
						 gear_velocity="${baboon_max_speed}" 
						 velocity="${baboon_max_speed}" 
						 lower="${joint_1_lower_limit}" 
						 upper="${joint_1_upper_limit}" />						
			<dynamics damping="0.3" friction="0.0" />
		</joint>		

		<!-- SH_FLE -->
		<joint name="${prefix}${joint_2_name}" type="${joint_2_type}">
			<parent link="${prefix}${link01}"/>
			<child link="${prefix}${link02}"/>
			<axis xyz="${joint_2_axis_xyz}" />
			<!-- limit effort also defines torque limit and freeze controller gains -->
			<limit effort="${baboon_peak_torque}" 
						 command_effort="${baboon_peak_torque}" 
						 current="10" 
						 gear_velocity="${baboon_max_speed}" 
						 velocity="${baboon_max_speed}" 
						 lower="${joint_2_lower_limit}" 
						 upper="${joint_2_upper_limit}" />				
			<origin xyz="${joint_2_origin_xyz}" rpy="${joint_2_origin_rpy}" />
			<dynamics damping="0.3" friction="0.0" />
		</joint>

		<!-- EL_FLE -->
		<joint name="${prefix}${joint_3_name}" type="${joint_3_type}">
			<parent link="${prefix}${link02}"/>
			<child link="${prefix}${link03}"/>
			<axis xyz="${joint_3_axis_xyz}" />
			<!-- limit effort also defines torque limit and freeze controller gains -->
			<limit effort="${baboon_peak_torque}" 
						 command_effort="${baboon_peak_torque}" 
						 current="10" 
						 gear_velocity="${baboon_max_speed}" 
						 velocity="${baboon_max_speed}" 
						 lower="${joint_3_lower_limit}" 
						 upper="${joint_3_upper_limit}" />	
			<origin xyz="${joint_3_origin_xyz}" rpy="${joint_3_origin_rpy}" />
			<dynamics damping="0.3" friction="0.0" />
		</joint>

		<!-- FA_ROT -->
		<joint name="${prefix}${joint_4_name}" type="${joint_4_type}">
			<parent link="${prefix}${link03}"/>
			<child link="${prefix}tool0"/>
			<axis xyz="${joint_4_axis_xyz}" />
			<!-- limit effort also defines torque limit and freeze controller gains -->
			<limit effort="${baboon_peak_torque}" 
						 command_effort="${baboon_peak_torque}" 
						 current="10" 
						 gear_velocity="${baboon_max_speed}" 
						 velocity="${baboon_max_speed}" 
						 lower="${joint_4_lower_limit}" 
						 upper="${joint_4_upper_limit}" />				
			<origin xyz="${joint_4_origin_xyz}" rpy="${joint_4_origin_rpy}" />
			<dynamics damping="0.3" friction="0.0" />
		</joint>

	</xacro:macro>
</robot>
