<?xml version="1.0"?>
<!--
Copyright 2024 Duatic AG

Redistribution and use in source and binary forms, with or without modification, are permitted
provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this list of conditions
and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice, this list of
conditions and the following disclaimer in the documentation and/or other materials provided with
the distribution.

3. Neither the name of the copyright holder nor the names of its contributors may be used to
endorse or promote products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT
OF
THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<robot name="dynaarm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- -->
  <!-- DynaArm Macro-->
  <!-- -->

  <xacro:macro name="dynaarm"
    params="tf_prefix parent_link dof mode ethercat_bus start_in_freeze_mode:=false drive_parameter_folder:='' covers version *origin">

    <!--Allow the user to pass a custom folder for drive parameters-->
    <xacro:property name="default_drive_parameter_folder" value="$(find dynaarm_driver)/config/${version}" />
    <xacro:if value="${drive_parameter_folder == ''}">
      <xacro:property name="drive_parameter_folder_internal" value="${default_drive_parameter_folder}" />
    </xacro:if>
    <xacro:unless value="${drive_parameter_folder == ''}">
      <xacro:property name="drive_parameter_folder_internal" value="${drive_parameter_folder}" />
    </xacro:unless>
    <!-- Set ee_parent based on the specified DoF -->
    <xacro:property name="ee_parent" value="${base}" />

    <xacro:include filename="$(find dynaarm_description)/urdf/common/dynaarm_common.urdf.xacro" />
    <!-- Include the version specific information-->
    <xacro:include
      filename="$(find dynaarm_description)/urdf/common/${version}/dynaarm_parameters.urdf.xacro" />
    <xacro:include filename="$(find dynaarm_description)/urdf/common/dynaarm.ros2control.xacro" />

    <xacro:dynaarm_joint_fixed joint_name="${joint_base_name}"
      parent="${parent_link}"
      child="${base}">
      <xacro:insert_block name="origin" />
    </xacro:dynaarm_joint_fixed>

    <!-- DynaArm-->
    <xacro:dynaarm_main_body />
    <xacro:dynaarm_tool />

    <!-- Gazebo plugin -->
    <xacro:if value="${mode == 'sim'}">
      <xacro:dynaarm_gazebo />
    </xacro:if>

    <!--ros2control-->
    <xacro:dynaarm_ros2_control tf_prefix="${tf_prefix}" ethercat_bus="${ethercat_bus}" start_in_freeze_mode="${start_in_freeze_mode}"  drive_parameter_folder="${drive_parameter_folder_internal}" drive_parameter_folder_default="${default_drive_parameter_folder}" ethercat_addresses="${ethercat_addresses}"/>
  </xacro:macro>

  <!-- -->
  <!-- DynaArm Main Body-->
  <!-- -->
  <xacro:macro name="dynaarm_main_body">

    <!-- dynaarm_base -->
    <xacro:dynaarm_baselink link_name="${base}" file_name="${base_mesh}">
      <base_inertia>
        <xacro:insert_block name="base_inertial" />
      </base_inertia>
      <base_collision>
        <xacro:insert_block name="base_collision" />
      </base_collision>
    </xacro:dynaarm_baselink>

    <!-- Base Covers-->
    <xacro:if value="${covers}">
      <xacro:dynaarm_link link_name="${base}_cover" file_name="${base_cover_mesh}">
        <link_inertia>
          <xacro:insert_block name="base_cover_inertial" />
        </link_inertia>
      </xacro:dynaarm_link>

      <xacro:dynaarm_joint_fixed joint_name="${base}_cover"
        parent="${base}"
        child="${base}_cover">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </xacro:dynaarm_joint_fixed>
    </xacro:if>

    <!-- 1 DoF -->
    <xacro:if value="${dof >= 1}">

      <!-- dynaarm_SHOULDER -->
      <xacro:dynaarm_link_w_collision link_name="${link01}" file_name="${link01_mesh}">
        <link_inertia>
          <xacro:insert_block name="link01_inertial" />
        </link_inertia>
        <link_collision>
          <xacro:insert_block name="link01_collision" />
        </link_collision>
      </xacro:dynaarm_link_w_collision>

      <!-- SH_ROT -->
      <xacro:dynaarm_revolute_joint joint_name="${joint_1_name}"
        parent="${base}"
        child="${link01}"
        joint_axis_xyz="${joint_1_axis_xyz}"
        joint_lower_limit="${joint_1_lower_limit}"
        joint_upper_limit="${joint_1_upper_limit}"
        joint_limit_vel="${baboon_max_speed}"
        joint_limit_effort="${baboon_peak_torque}"
        joint_type="${joint_1_joint_type}">
        <origin xyz="${joint_1_origin_xyz}" rpy="${joint_1_origin_rpy}" />
      </xacro:dynaarm_revolute_joint>

      <!-- 1 Dof & Covers-->
      <xacro:if value="${covers}">
        <xacro:dynaarm_link link_name="${link01}_cover" file_name="${link01_cover_mesh}">
          <link_inertia>
            <xacro:insert_block name="link01_cover_inertial" />
          </link_inertia>
        </xacro:dynaarm_link>

        <xacro:dynaarm_joint_fixed joint_name="${link01}_cover" parent="${link01}"
          child="${link01}_cover">
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </xacro:dynaarm_joint_fixed>
      </xacro:if>

    </xacro:if>

    <!-- 2 DoF -->
    <xacro:if value="${dof >= 2}">

      <!-- dynaarm_UPPERARM -->
      <xacro:dynaarm_link_w_collision link_name="${link02}" file_name="${link02_mesh}">
        <link_inertia>
          <xacro:insert_block name="link02_inertial" />
        </link_inertia>
        <link_collision>
          <xacro:insert_block name="link02_collision" />
        </link_collision>
      </xacro:dynaarm_link_w_collision>

      <!-- SH_FLE -->
      <xacro:dynaarm_revolute_joint joint_name="${joint_2_name}"
        parent="${link01}"
        child="${link02}"
        joint_axis_xyz="${joint_2_axis_xyz}"
        joint_lower_limit="${joint_2_lower_limit}"
        joint_upper_limit="${joint_2_upper_limit}"
        joint_limit_vel="${baboon_max_speed}"
        joint_limit_effort="${baboon_peak_torque}"
        joint_type="${joint_2_joint_type}">
        <origin xyz="${joint_2_origin_xyz}" rpy="${joint_2_origin_rpy}" />
      </xacro:dynaarm_revolute_joint>

      <!-- 2 Dof & Covers-->
      <xacro:if value="${covers}">
        <xacro:dynaarm_link link_name="${link02}_cover" file_name="${link02_cover_mesh}">
          <link_inertia>
            <xacro:insert_block name="link02_cover_inertial" />
          </link_inertia>
        </xacro:dynaarm_link>

        <xacro:dynaarm_joint_fixed joint_name="${link02}_cover" parent="${link02}"
          child="${link02}_cover">
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </xacro:dynaarm_joint_fixed>
      </xacro:if>
    </xacro:if>

    <!-- 3 DoF -->
    <xacro:if value="${dof >= 3}">

      <!-- dynaarm_ELBOW -->
      <xacro:dynaarm_link_w_collision link_name="${link03}" file_name="${link03_mesh}">
        <link_inertia>
          <xacro:insert_block name="link03_inertial" />
        </link_inertia>
        <link_collision>
          <xacro:insert_block name="link03_collision" />
        </link_collision>
      </xacro:dynaarm_link_w_collision>

      <!-- EL_FLE -->
      <xacro:dynaarm_revolute_joint joint_name="${joint_3_name}"
        parent="${link02}"
        child="${link03}"
        joint_axis_xyz="${joint_3_axis_xyz}"
        joint_lower_limit="${joint_3_lower_limit}"
        joint_upper_limit="${joint_3_upper_limit}"
        joint_limit_vel="${baboon_max_speed}"
        joint_limit_effort="${baboon_peak_torque}"
        joint_type="${joint_3_joint_type}">
        <origin xyz="${joint_3_origin_xyz}" rpy="${joint_3_origin_rpy}" />
      </xacro:dynaarm_revolute_joint>

      <!--dynaarm_ELBOW_CAMERA_BASE-->
      <xacro:if value="${version == 'baracuda12'}">

        <!-- Virtual elbow camera link -->
        <xacro:virtual_link link_name="${link03_cam}" />

        <!-- Camera fixed on elbow -->
        <xacro:dynaarm_joint_fixed joint_name="${joint_3_cam_name}"
          parent="${link03}"
          child="${link03_cam}">
          <origin xyz="${joint_3_cam_origin_xyz}" rpy="${joint_3_cam_origin_rpy}" />
        </xacro:dynaarm_joint_fixed>
      </xacro:if>

      <!-- 3 Dof & Covers-->
      <xacro:if value="${covers}">
        <xacro:dynaarm_link link_name="${link03}_cover" file_name="${link03_cover_mesh}">
          <link_inertia>
            <xacro:insert_block name="link03_cover_inertial" />
          </link_inertia>
        </xacro:dynaarm_link>

        <xacro:dynaarm_joint_fixed joint_name="${link03}_cover" parent="${link03}"
          child="${link03}_cover">
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </xacro:dynaarm_joint_fixed>
      </xacro:if>
    </xacro:if>

    <!-- 4 DoF -->
    <xacro:if value="${dof >= 4}">

      <xacro:if value="${version == 'arowana4'}">
        <!-- dynaarm_FOREARM -->
        <xacro:dynaarm_link link_name="${link04}" file_name="${link04_mesh}">
          <link_inertia>
            <xacro:insert_block name="link04_inertial" />
          </link_inertia>
        </xacro:dynaarm_link>
      </xacro:if>

      <xacro:if value="${version == 'baracuda12'}">
        <!-- dynaarm_FOREARM -->
        <xacro:dynaarm_link_w_collision link_name="${link04}" file_name="${link04_mesh}">
          <link_inertia>
            <xacro:insert_block name="link04_inertial" />
          </link_inertia>

          <link_collision>
            <xacro:insert_block name="link04_collision" />
          </link_collision>
        </xacro:dynaarm_link_w_collision>
      </xacro:if>

      <!-- FA_ROT -->
      <xacro:dynaarm_revolute_joint joint_name="${joint_4_name}" parent="${link03}"
        child="${link04}"
        joint_axis_xyz="${joint_4_axis_xyz}"
        joint_lower_limit="${joint_4_lower_limit}"
        joint_upper_limit="${joint_4_upper_limit}"
        joint_limit_vel="${baboon_max_speed}"
        joint_limit_effort="${baboon_peak_torque}"
        joint_type="${joint_4_joint_type}">
        <origin xyz="${joint_4_origin_xyz}" rpy="${joint_4_origin_rpy}" />
      </xacro:dynaarm_revolute_joint>

      <!-- 4 Dof & Covers-->
      <xacro:if value="${covers}">
        <xacro:dynaarm_link link_name="${link04}_cover" file_name="${link04_cover_mesh}">
          <link_inertia>
            <xacro:insert_block name="link04_cover_inertial" />
          </link_inertia>
        </xacro:dynaarm_link>

        <xacro:dynaarm_joint_fixed joint_name="${link04}_cover" parent="${link04}"
          child="${link04}_cover">
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </xacro:dynaarm_joint_fixed>
      </xacro:if>
    </xacro:if>

    <!-- 5 DoF -->
    <xacro:if value="${dof >= 5}">

      <!-- WRIST_1 -->
      <xacro:dynaarm_link_w_collision link_name="${link05}" file_name="${link05_mesh}">
        <link_inertia>
          <xacro:insert_block name="link05_inertial" />
        </link_inertia>
        <link_collision>
          <xacro:insert_block name="link05_collision" />
        </link_collision>
      </xacro:dynaarm_link_w_collision>

      <!-- WR_FLE -->
      <xacro:dynaarm_revolute_joint joint_name="${joint_5_name}" parent="${link04}"
        child="${link05}"
        joint_axis_xyz="${joint_5_axis_xyz}"
        joint_lower_limit="${joint_5_lower_limit}"
        joint_upper_limit="${joint_5_upper_limit}"
        joint_limit_vel="${baboon_max_speed}"
        joint_limit_effort="${baboon_peak_torque}"
        joint_type="${joint_5_joint_type}">
        <origin xyz="${joint_5_origin_xyz}" rpy="${joint_5_origin_rpy}" />
      </xacro:dynaarm_revolute_joint>

      <xacro:if value="${version == 'baracuda12'}">
        <!-- Virtual wrist camera link -->
        <xacro:virtual_link link_name="${link05_cam}" />

        <!-- Camera fixed on wrist1 -->
        <xacro:dynaarm_joint_fixed joint_name="${joint_5_cam_name}"
          parent="${link05}"
          child="${link05_cam}">
          <origin xyz="${joint_5_cam_origin_xyz}" rpy="${joint_5_cam_origin_rpy}" />
        </xacro:dynaarm_joint_fixed>
      </xacro:if>

      <!-- 5 Dof & Covers-->
      <xacro:if value="${covers}">
        <xacro:dynaarm_link link_name="${link05}_cover" file_name="${link05_cover_mesh}">
          <link_inertia>
            <xacro:insert_block name="link05_cover_inertial" />
          </link_inertia>
        </xacro:dynaarm_link>

        <xacro:dynaarm_joint_fixed joint_name="${link05}_cover" parent="${link05}"
          child="${link05}_cover">
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </xacro:dynaarm_joint_fixed>
      </xacro:if>
    </xacro:if>

    <!-- 6 DoF -->
    <xacro:if value="${dof >= 6}">

      <xacro:if value="${version == 'arowana4'}">
        <!-- WRIST_2 -->
        <xacro:dynaarm_link link_name="${link06}" file_name="${link06_mesh}">
          <link_inertia>
            <xacro:insert_block name="link06_inertial" />
          </link_inertia>
        </xacro:dynaarm_link>
      </xacro:if>

      <xacro:if value="${version == 'baracuda12'}">
        <!-- WRIST_2 -->
        <xacro:dynaarm_link_w_collision link_name="${link06}" file_name="${link06_mesh}">
          <link_inertia>
            <xacro:insert_block name="link06_inertial" />
          </link_inertia>
          <link_collision>
            <xacro:insert_block name="link06_collision" />
          </link_collision>
        </xacro:dynaarm_link_w_collision>
      </xacro:if>

      <!-- WR_ROT -->
      <xacro:dynaarm_revolute_joint joint_name="${joint_6_name}" parent="${link05}"
        child="${link06}"
        joint_axis_xyz="${joint_6_axis_xyz}"
        joint_lower_limit="${joint_6_lower_limit}"
        joint_upper_limit="${joint_6_upper_limit}"
        joint_limit_vel="${baboon_max_speed}"
        joint_limit_effort="${baboon_peak_torque}"
        joint_type="${joint_6_joint_type}">
        <origin xyz="${joint_6_origin_xyz}" rpy="${joint_6_origin_rpy}" />
      </xacro:dynaarm_revolute_joint>

    </xacro:if>

  </xacro:macro>

  <!-- -->
  <!-- DynaArm Tool-->
  <!-- -->
  <xacro:macro name="dynaarm_tool">
    <xacro:virtual_link link_name="${end_effector}" />
    <xacro:dynaarm_joint_fixed joint_name="${joint_ee_name}"
      parent="${ee_parent}"
      child="${end_effector}">
      <origin xyz="${joint_ee_origin_xyz}" rpy="${joint_ee_origin_rpy}" />
    </xacro:dynaarm_joint_fixed>
  </xacro:macro>

  <!-- -->
  <!-- DynaArm Gazebo-->
  <!-- -->
  <xacro:macro name="dynaarm_gazebo">

    <gazebo>
      <plugin filename="libgz_ros2_control-system.so"
        name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find dynaarm_examples)/config/controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>
