<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="dynaarm_ros2_control" params="name prefix use_sim ethercat_bus">
    
    <xacro:property name="initial_positions_filename" value="$(find duatic_ros2_description)/config/initial_positions.yaml"/>
    <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_filename)['initial_positions']}"/>
    
    <ros2_control name="${name}" type="system">

      <xacro:if value="$(arg use_sim)">
        <hardware>
          <!-- <plugin>mock_components/GenericSystem</plugin> -->
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>        
      </xacro:if>
      <xacro:unless value="$(arg use_sim)">
        <hardware>
          <plugin>dynaarm_driver/DynaArmHardwareInterface</plugin>          
          <param name="ethercat_bus">${ethercat_bus}</param>
          <param name="prefix">duatic</param>
        </hardware>
      </xacro:unless>

      <joint name="${prefix}SH_ROT">
        <param name="address">1</param>
        <command_interface name="position">
          <param name="min">{-2*pi}</param>
          <param name="max">{2*pi}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.15</param>
          <param name="max">3.15</param>
        </command_interface>   
        <command_interface name="effort">
          <param name="min">-100.0</param>
          <param name="max">100.0</param>
        </command_interface>    
        <state_interface name="position">
          <param name="initial_value">${initial_positions['SH_ROT']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}SH_FLE">
        <param name="address">3</param>
        <command_interface name="position">
          <param name="min">{-2*pi}</param>
          <param name="max">{2*pi}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.15</param>
          <param name="max">3.15</param>
        </command_interface>            
        <command_interface name="effort">
          <param name="min">-100.0</param>
          <param name="max">100.0</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['SH_FLE']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>    
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>

      </joint>

      <joint name="${prefix}EL_FLE">
        <param name="address">2</param>
        <command_interface name="position">
          <param name="min">{-2*pi}</param>
          <param name="max">{2*pi}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.15</param>
          <param name="max">3.15</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-100.0</param>
          <param name="max">100.0</param>
        </command_interface>        
        <state_interface name="position">
          <param name="initial_value">${initial_positions['EL_FLE']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>    
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}FA_ROT">
        <param name="address">4</param>
        <command_interface name="position">
          <param name="min">{-2*pi}</param>
          <param name="max">{2*pi}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.15</param>
          <param name="max">3.15</param>
        </command_interface>  
        <command_interface name="effort">
          <param name="min">-100.0</param>
          <param name="max">100.0</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['FA_ROT']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>       
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>       
      </joint>

    </ros2_control>

    <xacro:if value="$(arg use_sim)">
      <gazebo>
        <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find dynaarm_driver)/config/controllers.yaml</parameters>                
        </plugin>
      </gazebo>      
    </xacro:if>
  </xacro:macro>
</robot>
