<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:property name="baboon_peak_torque" value="40"/>
	<xacro:property name="baboon_max_speed" value="17"/>

	<xacro:property name="J_PI" value="3.1415926535897931" />

	<xacro:property name="mm2_to_m2" value="0.000001" />
	<xacro:property name="mm_to_m" value="0.001" />

	<xacro:property name="base_mass" value="1.894" />
	<xacro:property name="link01_mass" value="2.644" />
	<xacro:property name="link02_mass" value="1.394" />
	<xacro:property name="link03_mass" value="1.1" />

	<xacro:property name="base" value="dynaarm_base" />
	<xacro:property name="link01" value="dynaarm_SHOULDER" />
	<xacro:property name="link02" value="dynaarm_UPPERARM" />
	<xacro:property name="link03" value="dynaarm_ELBOW" />

	<xacro:property name="base_mesh" value="base_mesh" />
	<xacro:property name="link01_mesh" value="shoulder_mesh" />
	<xacro:property name="link02_mesh" value="upperarm_mesh" />
  <xacro:property name="link03_mesh" value="elbow_mesh" />       

	<xacro:property name="joint_base_name"	value="joint_base" />
	<xacro:property name="joint_base_type" value="fixed" />
	<xacro:property name="joint_base_axis_xyz" value="0 0 0" />
	<xacro:property name="joint_base_origin_xyz" value="0 0 0" />
	<xacro:property name="joint_base_origin_rpy" value="0 0 0" />

	<xacro:property name="joint_1_name" value="SH_ROT" />
	<xacro:property name="joint_1_type" value="revolute" />
	<xacro:property name="joint_1_axis_xyz" value="0 0 1" />
	<xacro:property name="joint_1_origin_xyz" value="0 0 0.06" />
	<xacro:property name="joint_1_origin_rpy" value="0 0 0" />
	<xacro:property name="joint_1_lower_limit" value="${-J_PI - J_PI/2}" />
	<xacro:property name="joint_1_upper_limit" value="${J_PI + J_PI/2}" />
	
	<xacro:property name="joint_2_name" value="SH_FLE" />
	<xacro:property name="joint_2_type" value="revolute" />
	<xacro:property name="joint_2_axis_xyz" value="0 0 -1" />
	<xacro:property name="joint_2_origin_xyz" value="0 0 0.0" />
	<xacro:property name="joint_2_origin_rpy" value="${J_PI/2} -${J_PI/2} 0" />
	<xacro:property name="joint_2_lower_limit" value="${-J_PI/2 - 0.3}" />
	<xacro:property name="joint_2_upper_limit" value="${J_PI/2 + 0.3}" />
	
	<xacro:property name="joint_3_name" value="EL_FLE" />
	<xacro:property name="joint_3_type" value="revolute" />
	<xacro:property name="joint_3_axis_xyz" value="0 0 1" />
	<xacro:property name="joint_3_origin_xyz" value="0.412 0 0" />
	<xacro:property name="joint_3_origin_rpy" value="${J_PI} ${J_PI} 0" />
	<xacro:property name="joint_3_lower_limit" value="-${J_PI}" />
	<xacro:property name="joint_3_upper_limit" value="0.0" />
	
	<xacro:property name="joint_4_name" value="FA_ROT" />
	<xacro:property name="joint_4_type" value="revolute" />
	<xacro:property name="joint_4_axis_xyz" value="0 0 1" />
	<xacro:property name="joint_4_origin_xyz" value="0.0325 -0.092 0" />
	<xacro:property name="joint_4_origin_rpy" value="${J_PI/2} 0 ${J_PI/2}" />
	<xacro:property name="joint_4_lower_limit" value="${-J_PI - J_PI/2}" />
	<xacro:property name="joint_4_upper_limit" value="${J_PI + J_PI/2}" />
	
	<xacro:property name="joint_ee_name" value="ee_fix_joint" />
	<xacro:property name="joint_ee_type" value="fixed" />
	<xacro:property name="joint_ee_xyz" value="0.0 0.0 0.05" />
	<xacro:property name="joint_ee_rpy" value="0 0 0" />

</robot>
