<robot name="dynaarm"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="true" />
  <xacro:arg name="ethercat_bus" default="enp86s0" />
  
  <xacro:include filename="$(find duatic_ros2_description)/urdf/dynaarm.urdf.xacro" />
  <xacro:include filename="$(find duatic_ros2_description)/urdf/dynaarm.ros2_control.xacro" />

  <!-- create world link and link it to the dynaarm base -->
  <link name="world"/>    

  <gazebo reference="world">
    <static>true</static>
  </gazebo>

  <!-- load arm configuration -->
  <xacro:dynaarm parent="world" prefix="$(arg prefix)">
      <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:dynaarm>

  <xacro:dynaarm_ros2_control name="DynaarmRos2Control" 
                              ethercat_bus="$(arg ethercat_bus)" 
                              prefix="$(arg prefix)" 
                              use_sim="$(arg use_sim)" />

</robot>
