<?xml version="1.0"?>
<!--
Copyright 2024 Duatic AG

Redistribution and use in source and binary forms, with or without modification, are permitted
provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this list of conditions
and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice, this list of
conditions and the following disclaimer in the documentation and/or other materials provided with
the distribution.

3. Neither the name of the copyright holder nor the names of its contributors may be used to
endorse or promote products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT
OF
THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<robot name="torso" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- -->
  <!-- Torso Macro-->
  <!-- -->

  <xacro:macro name="torso"
    params="tf_prefix parent_link dof mode ethercat_bus start_in_freeze_mode:=false drive_parameter_folder:='' covers version *origin">

    <!--Allow the user to pass a custom folder for drive parameters-->
    <xacro:property name="default_drive_parameter_folder" value="$(find dynaarm_driver)/config/${version}" />
    <xacro:if value="${drive_parameter_folder == ''}">
      <xacro:property name="drive_parameter_folder_internal" value="${default_drive_parameter_folder}" />
    </xacro:if>
    <xacro:unless value="${drive_parameter_folder == ''}">
      <xacro:property name="drive_parameter_folder_internal" value="${drive_parameter_folder}" />
    </xacro:unless>

    <!-- Set left_arm_parent based on the specified DoF -->
    <xacro:property name="left_arm_parent" value="${base}" />
    
    <!-- Set left_arm_parent based on the specified DoF -->
    <xacro:property name="right_arm_parent" value="${base}" />

    <xacro:include filename="$(find dynaarm_description)/urdf/common/torso_common.urdf.xacro" />
    <!-- Include the version specific information-->
    <xacro:include
      filename="$(find dynaarm_description)/urdf/common/${version}/torso_parameters.urdf.xacro" />
    <xacro:include filename="$(find dynaarm_description)/urdf/common/torso.ros2control.xacro" />

    <xacro:torso_joint_fixed joint_name="${joint_tbase_name}"
      parent="${parent_link}"
      child="${tbase}">
      <xacro:insert_block name="origin" />
    </xacro:torso_joint_fixed>

    <!-- Torso -->
    <xacro:torso_main_body />
    <xacro:torso_tool />

    <!-- Gazebo plugin -->
    <xacro:if value="${mode == 'sim'}">
      <xacro:torso_gazebo />
    </xacro:if>

    <!--ros2control-->
    <xacro:dynaarm_ros2_control tf_prefix="${tf_prefix}" ethercat_bus="${ethercat_bus}" start_in_freeze_mode="${start_in_freeze_mode}"  drive_parameter_folder="${drive_parameter_folder_internal}" drive_parameter_folder_default="${default_drive_parameter_folder}" ethercat_addresses="${ethercat_addresses}"/>
  </xacro:macro>

  <!-- -->
  <!-- DynaArm Main Body-->
  <!-- -->
  <xacro:macro name="torso_main_body">

    <!-- torso_base -->
    <xacro:torso_baselink link_name="${tbase}" file_name="${tbase_mesh}">
      <tbase_inertia>
        <xacro:insert_block name="tbase_inertial" />
      </tbase_inertia>
      <tbase_collision>
        <xacro:insert_block name="tbase_collision" />
      </tbase_collision>
    </xacro:torso_baselink>

  <!-- Torso left arm-->

  <xacro:macro name="torso_left_arm">
    <xacro:torso_virtual_link link_name="${left_arm}" />
    <xacro:torso_joint_fixed joint_name="${joint_left_arm_name}"
      parent="${left_arm_parent}"
      child="${left_arm}">
      <origin xyz="${joint_left_arm_origin_xyz}" rpy="${joint_left_arm_origin_rpy}" />
    </xacro:torso_joint_fixed>
  </xacro:macro>

  <!-- Torso right arm-->

  <xacro:macro name="torso_right_arm">
    <xacro:torso_virtual_link link_name="${right_arm}" />
    <xacro:torso_joint_fixed joint_name="${joint_right_arm_name}"
      parent="${right_arm_parent}"
      child="${right_arm}">
      <origin xyz="${joint_right_arm_origin_xyz}" rpy="${joint_right_arm_origin_rpy}" />
    </xacro:torso_joint_fixed>
  </xacro:macro>

   <!-- Torso Gazebo-->
  
  <xacro:macro name="torso_gazebo">

    <gazebo>
      <plugin filename="libgz_ros2_control-system.so"
        name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find dynaarm_examples)/config/controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>
