<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

        <xacro:property name="J_PI" value="3.14159265359" />

        <xacro:property name="baboon_peak_torque" value="40" />
        <xacro:property name="baboon_max_speed" value="4" />

        <xacro:property name="mm2_to_m2" value="0.000001" />
        <xacro:property name="mm_to_m" value="0.001" />

        <!-- Links -->
        <xacro:property name="base" value="dynaarm_base" />
        <xacro:property name="link01" value="dynaarm_SHOULDER" />
        <xacro:property name="link02" value="dynaarm_UPPERARM" />
        <xacro:property name="link03" value="dynaarm_ELBOW" />
        <xacro:property name="link04" value="dynaarm_FOREARM" />
        <xacro:property name="link05" value="dynaarm_WRIST_1" />
        <xacro:property name="link06" value="dynaarm_WRIST_2" />
        <xacro:property name="end_effector" value="dynaarm_END_EFFECTOR" />

        <!-- Meshes -->
        <xacro:if value="${covers}">
                <xacro:property name="base_mesh" value="base_mesh" />
                <xacro:property name="link01_mesh" value="shoulder_mesh" />
                <xacro:property name="link02_mesh" value="upperarm_mesh" />
                <xacro:property name="link03_mesh" value="elbow_mesh" />
                <xacro:property name="link04_mesh" value="forearm_mesh" />
                <xacro:property name="link05_mesh" value="wrist1_mesh" />
                <xacro:property name="link06_mesh" value="wrist2_mesh" />
        </xacro:if>
        <xacro:unless value="${covers}">
                <xacro:property name="base_mesh" value="base_detailed_mesh" />
                <xacro:property name="link01_mesh" value="shoulder_detailed_mesh" />
                <xacro:property name="link02_mesh" value="upperarm_detailed_mesh" />
                <xacro:property name="link03_mesh" value="elbow_detailed_mesh" />
                <xacro:property name="link04_mesh" value="forearm_detailed_mesh" />
                <xacro:property name="link05_mesh" value="wrist1_detailed_mesh" />
                <xacro:property name="link06_mesh" value="wrist2_detailed_mesh" />
        </xacro:unless>

        <!-- Joint properties -->
        <xacro:property name="joint_base_name" value="joint_base" />
        <xacro:property name="joint_base_joint_type" value="revolute" />
        <xacro:property name="joint_base_axis_xyz" value="0 0 0" />
        <xacro:property name="joint_base_origin_xyz" value="0 0 0" />
        <xacro:property name="joint_base_origin_rpy" value="0 0 0" />

        <xacro:property name="joint_1_name" value="SH_ROT" />
        <xacro:property name="joint_1_joint_type" value="revolute" />
        <xacro:property name="joint_1_axis_xyz" value="0 0 1" />
        <xacro:property name="joint_1_origin_xyz" value="0 0 0.06" />
        <xacro:property name="joint_1_origin_rpy" value="0 0 0" />
        <xacro:property name="joint_1_lower_limit" value="${-J_PI - J_PI/2}" />
        <xacro:property name="joint_1_upper_limit" value="${J_PI + J_PI/2}" />

        <xacro:property name="joint_2_name" value="SH_FLE" />
        <xacro:property name="joint_2_joint_type" value="revolute" />
        <xacro:property name="joint_2_axis_xyz" value="0 0 -1" />
        <xacro:property name="joint_2_origin_xyz" value="0 0 0.0" />
        <xacro:property name="joint_2_origin_rpy" value="${J_PI/2} ${-J_PI/2} 0" />        
        <xacro:property name="joint_2_lower_limit" value="${-J_PI/2 - 0.3}" />
        <xacro:property name="joint_2_upper_limit" value="${J_PI/2 + 0.3}" />        		

        <xacro:property name="joint_3_name" value="EL_FLE" />
        <xacro:property name="joint_3_joint_type" value="revolute" />
        <xacro:property name="joint_3_axis_xyz" value="0 0 1" />
        <xacro:property name="joint_3_origin_xyz" value="0.412 0 0" />
        <xacro:property name="joint_3_origin_rpy" value="${J_PI} 0 0" />
        <xacro:property name="joint_3_lower_limit" value="-0.05" />
        <xacro:property name="joint_3_upper_limit" value="${J_PI}" />

        <xacro:property name="joint_4_name" value="FA_ROT" />
        <xacro:property name="joint_4_joint_type" value="revolute" />
        <xacro:property name="joint_4_axis_xyz" value="0 0 1" />
        <xacro:property name="joint_4_origin_xyz" value="0.0325 -0.092 0" />
        <xacro:property name="joint_4_origin_rpy" value="${J_PI/2} 0 ${J_PI/2}" />
        <xacro:property name="joint_4_lower_limit" value="${-J_PI - J_PI/2}" />
        <xacro:property name="joint_4_upper_limit" value="${J_PI + J_PI/2}" />

        <xacro:property name="joint_5_name" value="WRIST_1" />
        <xacro:property name="joint_5_joint_type" value="revolute" />
        <xacro:property name="joint_5_axis_xyz" value="0 0 1" />
        <xacro:property name="joint_5_origin_xyz" value="0.0 -0.03 0.4118" />
        <xacro:property name="joint_5_origin_rpy" value="0 ${-J_PI/2} ${-J_PI/2}" />
        <xacro:property name="joint_5_lower_limit" value="${-J_PI/2}" />
        <xacro:property name="joint_5_upper_limit" value="${J_PI/2}" />

        <xacro:property name="joint_6_name" value="WRIST_2" />
        <xacro:property name="joint_6_joint_type" value="revolute" />
        <xacro:property name="joint_6_axis_xyz" value="0 0 1" />
        <xacro:property name="joint_6_origin_xyz" value="0.12 0.0 0.03" />
        <xacro:property name="joint_6_origin_rpy" value="${-J_PI/2} 0 ${-J_PI/2}" />
        <xacro:property name="joint_6_lower_limit" value="${-J_PI - J_PI/2}" />
        <xacro:property name="joint_6_upper_limit" value="${J_PI + J_PI/2}" />

        <xacro:property name="joint_ee_name" value="ee_fix_joint" />
        <xacro:property name="joint_ee_xyz" value="0.0 0.0 0.05" />
        <xacro:property name="joint_ee_origin_xyz" value="0.0 0.0 0.05" />
        <xacro:property name="joint_ee_origin_4dof_xyz" value="0.0 0.0 0.4" />
        <xacro:property name="joint_ee_origin_rpy" value="0.0 0.0 ${J_PI/2}" />
        <xacro:property name="joint_ee_origin_4dof_rpy" value="0.0 0.0 ${J_PI/2}" />
        <xacro:property name="joint_ee_rpy" value="0 0 0" />

        <xacro:property name="base_inertial">
                <inertial>
                        <mass value="1.894" />
                        <origin
                                xyz="${0.008222641*mm_to_m} ${-0.310936808*mm_to_m} ${-36.738569268*mm_to_m}"
                                rpy="0 0 0" />
                        <inertia ixx="${2767.258474185*mm2_to_m2}" iyy="${2895.160105441*mm2_to_m2}"
                                izz="${3138.952392041*mm2_to_m2}" ixy="${0.393414115*mm2_to_m2}"
                                ixz="${-0.149570272*mm2_to_m2}" iyz="${25.32409214*mm2_to_m2}" />
                </inertial>
        </xacro:property>

        <xacro:property name="link01_inertial">
                <inertial>
                        <mass value="2.644" />
                        <origin xyz="0.0 0.0 ${-1.7336*mm_to_m}" rpy="0 0 0" />
                        <inertia ixx="${10301.21*mm2_to_m2}" iyy="${3016.50*mm2_to_m2}"
                                izz="${10099.04*mm2_to_m2}" ixy="${-50.85*mm2_to_m2}"
                                ixz="${0.0*mm2_to_m2}" iyz="${0.0*mm2_to_m2}" />
                </inertial>
        </xacro:property>

        <xacro:property name="link02_inertial">
                <inertial>
                        <mass value="1.394" />
                        <origin xyz="${211.09*mm_to_m} ${0.022*mm_to_m} ${-0.317*mm_to_m}"
                                rpy="0 0 0" />
                        <inertia ixx="${1161.79*mm2_to_m2}" iyy="${46092.126*mm2_to_m2}"
                                izz="${46279.53*mm2_to_m2}" ixy="${-0.72*mm2_to_m2}"
                                ixz="${-140.45*mm2_to_m2}" iyz="${0.007*mm2_to_m2}" />
                </inertial>
        </xacro:property>

        <xacro:property name="link03_inertial">
                <inertial>
                        <mass value="1.1" />
                        <origin xyz="${6.8*mm_to_m} ${-84.8*mm_to_m} ${-0.6*mm_to_m}" rpy="0 0 0" />
                        <inertia ixx="${1384.3*mm2_to_m2}" iyy="${716.8*mm2_to_m2}"
                                izz="${1130.1*mm2_to_m2}" ixy="${-41.6*mm2_to_m2}"
                                ixz="${8.5*mm2_to_m2}" iyz="${-10.5*mm2_to_m2}" />
                </inertial>
        </xacro:property>

        <xacro:property name="link04_inertial">
                <inertial>
                        <mass value="0.342" />
                        <origin xyz="0.0 0.0 0.2143" rpy="0 0 0" />
                        <inertia ixx="${7000*mm2_to_m2}" iyy="${7000*mm2_to_m2}"
                                izz="${6400*mm2_to_m2}" ixy="${0.0*mm2_to_m2}"
                                ixz="${0.0*mm2_to_m2}" iyz="${0.0*mm2_to_m2}" />
                </inertial>
        </xacro:property>

        <xacro:property name="link05_inertial">
                <inertial>
                        <mass value="1.69" />
                        <origin xyz="0.047 0.0 0.029" rpy="0 0 0" />
                        <inertia ixx="${1672*mm2_to_m2}" iyy="${4985*mm2_to_m2}"
                                izz="${5210*mm2_to_m2}" ixy="${0*mm2_to_m2}"
                                ixz="${129.7*mm2_to_m2}" iyz="${-3.7*mm2_to_m2}" />
                </inertial>
        </xacro:property>

        <xacro:property name="link06_inertial">
                <inertial>
                        <mass value="0.1" />
                        <origin xyz="0.0 0.0 0.0064" rpy="0 0 0" />
                        <inertia ixx="${115*mm2_to_m2}" iyy="${115*mm2_to_m2}"
                                izz="${115*mm2_to_m2}" ixy="${0.0*mm2_to_m2}" ixz="${0*mm2_to_m2}"
                                iyz="${0.0*mm2_to_m2}" />
                </inertial>
        </xacro:property>

        <!-- Collision properties -->
        <xacro:property name="base_collision">
                <collision>
                        <origin xyz="0 0 -0.04" rpy="0 0 0" />
                        <geometry>
                                <cylinder radius="0.06" length="0.08" />
                        </geometry>
                </collision>
        </xacro:property>

        <xacro:property name="link01_collision">
                <collision>
                        <origin xyz="0 0 0" rpy="1.57 0 0" />
                        <geometry>
                                <cylinder radius="0.05" length="0.24" />
                        </geometry>
                </collision>
        </xacro:property>

        <xacro:property name="link02_collision">
                <collision>
                        <origin xyz="0.25 0 0" rpy="1.57 0 1.57" />
                        <geometry>
                                <cylinder radius="0.05" length="0.4" />
                        </geometry>
                </collision>
        </xacro:property>

        <xacro:property name="link03_collision">
                <collision>
                        <origin xyz="0.185 -0.0935 0" rpy="0 1.57 0" />
                        <geometry>
                                <cylinder radius="0.047" length="0.46" />
                        </geometry>
                </collision>
        </xacro:property>

        <xacro:property name="link05_collision">
                <collision>
                        <origin xyz="${0.045} 0 0.03" rpy="0 ${J_PI/2} 0" />
                        <geometry>
                                <cylinder radius="0.055" length="0.18" />
                        </geometry>
                </collision>
        </xacro:property>

</robot>