<?xml version="1.0"?>

<robot name="dynaarm"
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include
        filename="$(find dynaarm_description_common)/resource/xacro/dynaarm_common.urdf.xacro" />
    <xacro:include
        filename="$(find dynaarm_description_common)/resource/xacro/dynaarm_parameters.urdf.xacro" />
    <xacro:include
        filename="$(find dynaarm_description_common)/resource/xacro/dynaarm_covers_4dof.urdf.xacro" />


    <!-- -->
    <!-- DynaArm Macro-->
    <!-- -->
    <xacro:macro name="dynaarm" params="tf_prefix parent_link joint_origin_xyz joint_origin_rpy">

        <xacro:dynaarm_joint_fixed joint_name="${joint_base_name}" parent="${parent_link}"
            child="${base}" joint_origin_xyz="${joint_origin_xyz}"
            joint_origin_rpy="${joint_origin_rpy}" />

        <!-- DynaArm-->
        <xacro:dynaarm_main_body />
        <xacro:if value="${add_covers}">
            <xacro:dynaarm_covers />
        </xacro:if>
        <xacro:dynaarm_tool />

        <!-- Gazebo plugin -->
        <xacro:if value="${hardware_interface_type == 'sim'}">
            <xacro:dynaarm_gazebo />
        </xacro:if>

        <!--ros2control-->
        <xacro:include
            filename="$(find dynaarm_description_common)/resource/xacro/dynaarm.ros2control.xacro" />
        <xacro:dynaarm_ros2_control tf_prefix="${tf_prefix}" />
        <xacro:dynaarm_gpio_ros2control_interfaces />
    </xacro:macro>

    <!-- -->
    <!-- DynaArm Main Body-->
    <!-- -->
    <xacro:macro name="dynaarm_main_body">
        <xacro:dynaarm_baselink link_name="${base}" file_name="${base_mesh}">
            <base_inertia>
                <xacro:insert_block name="base_inertial" />
            </base_inertia>
            <base_collision>
                <xacro:insert_block name="base_inertial" />
            </base_collision>
        </xacro:dynaarm_baselink>
        <xacro:dynaarm_link_w_collision link_name="${link01}" file_name="${link01_mesh}">
            <link_inertia>
                <xacro:insert_block name="link01_inertial" />
            </link_inertia>
            <link_collision>
                <xacro:insert_block name="link01_collision" />
            </link_collision>
        </xacro:dynaarm_link_w_collision>
        <xacro:dynaarm_link_w_collision link_name="${link02}" file_name="${link02_mesh}">
            <link_inertia>
                <xacro:insert_block name="link02_inertial" />
            </link_inertia>
            <link_collision>
                <xacro:insert_block name="link02_collision" />
            </link_collision>
        </xacro:dynaarm_link_w_collision>
        <xacro:dynaarm_link_w_collision link_name="${link03}" file_name="${link03_mesh}">
            <link_inertia>
                <xacro:insert_block name="link03_inertial" />
            </link_inertia>
            <link_collision>
                <xacro:insert_block name="link03_collision" />
            </link_collision>
        </xacro:dynaarm_link_w_collision>
        <xacro:dynaarm_link link_name="${link04}" file_name="${link04_mesh}">
            <link_inertia>
                <xacro:insert_block name="link04_inertial" />
            </link_inertia>
        </xacro:dynaarm_link>

        <xacro:dynaarm_revolute_joint joint_name="${joint_1_name}" parent="${base}"
            child="${link01}" joint_axis_xyz="${joint_1_axis_xyz}"
            joint_origin_xyz="${joint_1_origin_xyz}" joint_origin_rpy="${joint_1_origin_rpy}"
            joint_lower_limit="${joint_1_lower_limit}" joint_upper_limit="${joint_1_upper_limit}"
            joint_limit_vel="${baboon_max_speed}" joint_limit_effort="${baboon_peak_torque}"
            joint_type="${joint_1_joint_type}" />
        <xacro:dynaarm_revolute_joint joint_name="${joint_2_name}" parent="${link01}"
            child="${link02}" joint_axis_xyz="${joint_2_axis_xyz}"
            joint_origin_xyz="${joint_2_origin_xyz}" joint_origin_rpy="${joint_2_origin_rpy}"
            joint_lower_limit="${joint_2_lower_limit}" joint_upper_limit="${joint_2_upper_limit}"
            joint_limit_vel="${baboon_max_speed}" joint_limit_effort="${baboon_peak_torque}"
            joint_type="${joint_2_joint_type}" />
        <xacro:dynaarm_revolute_joint joint_name="${joint_3_name}" parent="${link02}"
            child="${link03}" joint_axis_xyz="${joint_3_axis_xyz}"
            joint_origin_xyz="${joint_3_origin_xyz}" joint_origin_rpy="${joint_3_origin_rpy}"
            joint_lower_limit="${joint_3_lower_limit}" joint_upper_limit="${joint_3_upper_limit}"
            joint_limit_vel="${baboon_max_speed}" joint_limit_effort="${baboon_peak_torque}"
            joint_type="${joint_3_joint_type}" />
        <xacro:dynaarm_revolute_joint joint_name="${joint_4_name}" parent="${link03}"
            child="${link04}" joint_axis_xyz="${joint_4_axis_xyz}"
            joint_origin_xyz="${joint_4_origin_xyz}" joint_origin_rpy="${joint_4_origin_rpy}"
            joint_lower_limit="${joint_4_lower_limit}" joint_upper_limit="${joint_4_upper_limit}"
            joint_limit_vel="${baboon_max_speed}" joint_limit_effort="${baboon_peak_torque}"
            joint_type="${joint_4_joint_type}" />

    </xacro:macro>

    <!-- -->
    <!-- DynaArm Tool-->
    <!-- -->
    <xacro:macro name="dynaarm_tool">
        <xacro:virtual_link link_name="${end_effector}" />
        <xacro:dynaarm_joint_fixed joint_name="${joint_ee_name}" parent="${link04}"
            child="${end_effector}" joint_origin_xyz="${joint_ee_origin_4dof_xyz}"
            joint_origin_rpy="${joint_ee_origin_4dof_rpy}" />
    </xacro:macro>

    <!-- -->
    <!-- DynaArm Gazebo-->
    <!-- -->
    <xacro:macro name="dynaarm_gazebo">
        <gazebo>
            <joint name="world_joint" type="fixed">
                <parent>world</parent>
                <child>${base}</child>
            </joint>
        </gazebo>
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libdynaarm_gazebo.so">
                <robotNamespace>dynaarm</robotNamespace>
                <robotDescription>dynaarm_description</robotDescription>
                <robotBaseLink>dynaarm_base</robotBaseLink>
                <statePublisherRate>400.0</statePublisherRate>
            </plugin>
        </gazebo>
    </xacro:macro>

</robot>